<!doctype html>
<html lang="en" data-critters-container>

<head>
  <meta charset="utf-8">
  <title>CAMT Movie Tickets</title>
  <base href="/online-tickets/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
  <app-root></app-root>
  <script src="runtime.c8ab185d21ccfec2.js" type="module"></script>
  <script src="polyfills.c95af3c8326e1a26.js" type="module"></script>
  <script src="main.67476c6fa32a574e.js" type="module"></script>
</body>

</html>
